-- Membuddy Database Setup Script for Microsoft SQL Server
-- Run this script on your SQL Server: et-ci-dev-etintl-dbsrv.database.windows.net

-- Use the database
USE et-ci-dev-etintl-sqldb;
GO

-- Drop tables if they exist (for clean setup)
IF OBJECT_ID('membuddy_feedback', 'U') IS NOT NULL DROP TABLE membuddy_feedback;
IF OBJECT_ID('membuddy_payments', 'U') IS NOT NULL DROP TABLE membuddy_payments;
IF OBJECT_ID('membuddy_membership_details', 'U') IS NOT NULL DROP TABLE membuddy_membership_details;
IF OBJECT_ID('membuddy_user_data', 'U') IS NOT NULL DROP TABLE membuddy_user_data;
IF OBJECT_ID('membuddy_master_table', 'U') IS NOT NULL DROP TABLE membuddy_master_table;
GO

-- Create schema if it doesn't exist
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'membuddy')
BEGIN
    EXEC('CREATE SCHEMA membuddy');
END
GO

-- 1. Master Table - Main member information
CREATE TABLE membuddy.master_table (
    member_id INT IDENTITY(1,1) PRIMARY KEY,
    full_name NVARCHAR(255) NOT NULL,
    email NVARCHAR(255) UNIQUE NOT NULL,
    address NVARCHAR(MAX),
    graduation_year INT,
    membership_type NVARCHAR(50) CHECK (membership_type IN ('Student', 'Professional', 'Lifetime', 'Corporate')) NOT NULL,
    join_date DATE NOT NULL,
    expiration_date DATE NOT NULL,
    status NVARCHAR(50) DEFAULT 'Active' CHECK (status IN ('Active', 'Expired', 'Suspended', 'Cancelled')),
    created_at DATETIME2 DEFAULT GETDATE(),
    updated_at DATETIME2 DEFAULT GETDATE()
);

-- Create indexes
CREATE INDEX idx_email ON membuddy.master_table(email);
CREATE INDEX idx_membership_type ON membuddy.master_table(membership_type);
CREATE INDEX idx_status ON membuddy.master_table(status);
CREATE INDEX idx_expiration_date ON membuddy.master_table(expiration_date);
GO

-- 2. User Data - Additional user information
CREATE TABLE membuddy.user_data (
    id INT IDENTITY(1,1) PRIMARY KEY,
    member_id INT NOT NULL,
    phone NVARCHAR(20),
    company NVARCHAR(255),
    job_title NVARCHAR(255),
    department NVARCHAR(255),
    emergency_contact NVARCHAR(255),
    emergency_phone NVARCHAR(20),
    preferences NVARCHAR(MAX),
    created_at DATETIME2 DEFAULT GETDATE(),
    updated_at DATETIME2 DEFAULT GETDATE(),
    FOREIGN KEY (member_id) REFERENCES membuddy.master_table(member_id) ON DELETE CASCADE
);

CREATE INDEX idx_member_id ON membuddy.user_data(member_id);
GO

-- 3. Membership Details - Detailed membership information
CREATE TABLE membuddy.membership_details (
    id INT IDENTITY(1,1) PRIMARY KEY,
    member_id INT NOT NULL,
    membership_level NVARCHAR(50) DEFAULT 'Basic' CHECK (membership_level IN ('Basic', 'Premium', 'Gold', 'Platinum')),
    benefits NVARCHAR(MAX),
    renewal_cycle NVARCHAR(50) DEFAULT 'Annual' CHECK (renewal_cycle IN ('Monthly', 'Quarterly', 'Annual', 'Lifetime')),
    auto_renewal BIT DEFAULT 0,
    last_renewal_date DATE,
    next_renewal_date DATE,
    renewal_amount DECIMAL(10,2),
    discount_percentage DECIMAL(5,2) DEFAULT 0.00,
    created_at DATETIME2 DEFAULT GETDATE(),
    updated_at DATETIME2 DEFAULT GETDATE(),
    FOREIGN KEY (member_id) REFERENCES membuddy.master_table(member_id) ON DELETE CASCADE
);

CREATE INDEX idx_member_id ON membuddy.membership_details(member_id);
CREATE INDEX idx_next_renewal_date ON membuddy.membership_details(next_renewal_date);
GO

-- 4. Payment Table - Payment transactions
CREATE TABLE membuddy.payments (
    id INT IDENTITY(1,1) PRIMARY KEY,
    member_id INT NOT NULL,
    payment_method NVARCHAR(50) NOT NULL CHECK (payment_method IN ('Card', 'ACH', 'PayPal', 'Check', 'Bank Transfer')),
    amount DECIMAL(10,2) NOT NULL,
    currency NVARCHAR(3) DEFAULT 'USD',
    transaction_id NVARCHAR(255) UNIQUE,
    payment_status NVARCHAR(50) DEFAULT 'Pending' CHECK (payment_status IN ('Pending', 'Completed', 'Failed', 'Refunded', 'Cancelled')),
    payment_date DATETIME2 DEFAULT GETDATE(),
    description NVARCHAR(MAX),
    receipt_url NVARCHAR(500),
    created_at DATETIME2 DEFAULT GETDATE(),
    updated_at DATETIME2 DEFAULT GETDATE(),
    FOREIGN KEY (member_id) REFERENCES membuddy.master_table(member_id) ON DELETE CASCADE
);

CREATE INDEX idx_member_id ON membuddy.payments(member_id);
CREATE INDEX idx_payment_status ON membuddy.payments(payment_status);
CREATE INDEX idx_payment_date ON membuddy.payments(payment_date);
CREATE INDEX idx_transaction_id ON membuddy.payments(transaction_id);
GO

-- 5. Feedback Table - User feedback and ratings
CREATE TABLE membuddy.feedback (
    id INT IDENTITY(1,1) PRIMARY KEY,
    member_id INT,
    email NVARCHAR(255), -- Allow anonymous feedback
    rating INT NOT NULL CHECK (rating >= 1 AND rating <= 5),
    comment NVARCHAR(MAX),
    feedback_type NVARCHAR(50) DEFAULT 'General' CHECK (feedback_type IN ('General', 'Support', 'Payment', 'Renewal', 'Technical')),
    status NVARCHAR(50) DEFAULT 'New' CHECK (status IN ('New', 'Reviewed', 'Resolved', 'Closed')),
    created_at DATETIME2 DEFAULT GETDATE(),
    updated_at DATETIME2 DEFAULT GETDATE(),
    FOREIGN KEY (member_id) REFERENCES membuddy.master_table(member_id) ON DELETE SET NULL
);

CREATE INDEX idx_member_id ON membuddy.feedback(member_id);
CREATE INDEX idx_rating ON membuddy.feedback(rating);
CREATE INDEX idx_feedback_type ON membuddy.feedback(feedback_type);
CREATE INDEX idx_status ON membuddy.feedback(status);
CREATE INDEX idx_created_at ON membuddy.feedback(created_at);
GO

-- Insert sample data for testing

-- Sample Master Table data
GO

-- Sample User Data
GO

-- Sample Membership Details
GO

-- Sample Payment data
GO

-- Sample Feedback data
GO

-- Create views for common queries
CREATE VIEW membuddy.active_members AS
SELECT 
    mt.member_id,
    mt.full_name,
    mt.email,
    mt.membership_type,
    mt.expiration_date,
    md.membership_level,
    md.next_renewal_date,
    md.renewal_amount
FROM membuddy.master_table mt
LEFT JOIN membuddy.membership_details md ON mt.member_id = md.member_id
WHERE mt.status = 'Active';
GO

CREATE VIEW membuddy.expiring_memberships AS
SELECT 
    mt.member_id,
    mt.full_name,
    mt.email,
    mt.expiration_date,
    md.next_renewal_date,
    md.renewal_amount,
    DATEDIFF(day, GETDATE(), mt.expiration_date) as days_until_expiry
FROM membuddy.master_table mt
LEFT JOIN membuddy.membership_details md ON mt.member_id = md.member_id
WHERE mt.status = 'Active' 
AND mt.expiration_date BETWEEN GETDATE() AND DATEADD(day, 30, GETDATE());
GO

CREATE VIEW membuddy.payment_summary AS
SELECT 
    mt.member_id,
    mt.full_name,
    mt.email,
    COUNT(p.id) as total_payments,
    SUM(p.amount) as total_amount,
    MAX(p.payment_date) as last_payment_date
FROM membuddy.master_table mt
LEFT JOIN membuddy.payments p ON mt.member_id = p.member_id
WHERE p.payment_status = 'Completed'
GROUP BY mt.member_id, mt.full_name, mt.email;
GO

-- Create stored procedures for common operations

CREATE PROCEDURE membuddy.GetMemberProfile
    @member_email NVARCHAR(255)
AS
BEGIN
    SELECT 
        mt.*,
        ud.phone,
        ud.company,
        ud.job_title,
        ud.department,
        md.membership_level,
        md.benefits,
        md.renewal_cycle,
        md.auto_renewal,
        md.renewal_amount,
        md.discount_percentage
    FROM membuddy.master_table mt
    LEFT JOIN membuddy.user_data ud ON mt.member_id = ud.member_id
    LEFT JOIN membuddy.membership_details md ON mt.member_id = md.member_id
    WHERE mt.email = @member_email;
END
GO

CREATE PROCEDURE membuddy.GetRenewalOptions
    @member_email NVARCHAR(255)
AS
BEGIN
    SELECT 
        mt.member_id,
        mt.full_name,
        mt.email,
        mt.expiration_date,
        md.membership_level,
        md.renewal_cycle,
        md.renewal_amount,
        md.discount_percentage,
        (md.renewal_amount * (1 - md.discount_percentage / 100)) as final_amount
    FROM membuddy.master_table mt
    LEFT JOIN membuddy.membership_details md ON mt.member_id = md.member_id
    WHERE mt.email = @member_email AND mt.status = 'Active';
END
GO

CREATE PROCEDURE membuddy.ProcessPayment
    @member_email NVARCHAR(255),
    @payment_method NVARCHAR(50),
    @amount DECIMAL(10,2),
    @description NVARCHAR(MAX)
AS
BEGIN
    DECLARE @member_id_val INT;
    DECLARE @transaction_id_val NVARCHAR(255);
    
    -- Get member ID
    SELECT @member_id_val = member_id FROM membuddy.master_table WHERE email = @member_email;
    
    -- Generate transaction ID
    SET @transaction_id_val = CONCAT('TXN', FORMAT(GETDATE(), 'yyyyMMdd'), RIGHT('0000' + CAST(@member_id_val AS NVARCHAR(10)), 4), RIGHT('000' + CAST(ABS(CHECKSUM(NEWID())) % 1000 AS NVARCHAR(10)), 3));
    
    -- Insert payment record
    INSERT INTO membuddy.payments (member_id, payment_method, amount, transaction_id, description, payment_status)
    VALUES (@member_id_val, @payment_method, @amount, @transaction_id_val, @description, 'Completed');
    
    -- Update membership expiration date if it's a renewal
    IF @description LIKE '%renewal%' OR @description LIKE '%renew%'
    BEGIN
        UPDATE membuddy.master_table 
        SET expiration_date = DATEADD(year, 1, expiration_date),
            updated_at = GETDATE()
        WHERE member_id = @member_id_val;
        
        UPDATE membuddy.membership_details 
        SET last_renewal_date = CAST(GETDATE() AS DATE),
            next_renewal_date = DATEADD(year, 1, CAST(GETDATE() AS DATE)),
            updated_at = GETDATE()
        WHERE member_id = @member_id_val;
    END
    
    SELECT @transaction_id_val as transaction_id;
END
GO

CREATE PROCEDURE membuddy.CollectFeedback
    @member_email NVARCHAR(255),
    @rating_val INT,
    @comment_text NVARCHAR(MAX),
    @feedback_type_val NVARCHAR(50)
AS
BEGIN
    DECLARE @member_id_val INT;
    
    -- Get member ID (can be NULL for anonymous feedback)
    SELECT @member_id_val = member_id FROM membuddy.master_table WHERE email = @member_email;
    
    INSERT INTO membuddy.feedback (member_id, email, rating, comment, feedback_type)
    VALUES (@member_id_val, @member_email, @rating_val, @comment_text, @feedback_type_val);
END
GO

-- Show created tables
SELECT 'Master Table' as table_name, COUNT(*) as record_count FROM membuddy.master_table
UNION ALL
SELECT 'User Data', COUNT(*) FROM membuddy.user_data
UNION ALL
SELECT 'Membership Details', COUNT(*) FROM membuddy.membership_details
UNION ALL
SELECT 'Payments', COUNT(*) FROM membuddy.payments
UNION ALL
SELECT 'Feedback', COUNT(*) FROM membuddy.feedback;
GO
